.send-button {
    -fx-background-color: #1E1E2D;
    -fx-text-fill: white;
    -fx-cursor: hand;
    -fx-font-weight: bold;
    -fx-padding: 5 10 5 10;
    -fx-effect: dropshadow(gaussian, rgba(0, 0, 0, 0.25), 5, 0.5, 0, 1);
    -fx-background-radius: 5;
}

.send-button:pressed {
    -fx-background-color: #7b97b2;
}